* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container-column{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container-row{
	display:flex;
	justify-content: center;
}

.navbar-horizontal{
	height: 50px;
	width: 100%;
	background-color: #383838;
	display: flex;
	align-items: center;
	position: absolute;
	top: 0px;
}

.navbar-list{
	display: flex;
}

.navbar-item{
	padding: 0px 10px;
	list-style-type: none;
}

.navbar-button{
	border: 0px;
	padding: 12.5px 5px;
	background-color: #383838;
	color:white;
	font-size: 20px;
	font-family: 'Tomorrow', sans-serif;
}

.navbar-button:hover{
	background-color: #383838;
	color: #FFB42A;
	transition: 0.5s;
}

.navbar-button:focus{
	outline-width: 0
}

.navbar-link{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Tomorrow', sans-serif;
}

#profile-section{
	height: 100vh;
	padding-top: 80px;
	background: 
		linear-gradient(
		rgba(0, 255, 222, 0.45),
		rgba(0, 88, 255, 0.45)),
		url(../images/profile_background2.jpg);
	background-size: cover;
	display: block;
}

.profile-card{
	margin: auto;
	height: 300px;
	width: 250px;
	background-color: rgba(56, 56, 56, 0.87);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#profile-thumbnail{
	height: 55%;
	width: 70%;
	border-radius: 100px;
}

.profile-card-text{
	margin: 5px;
	color: white;
	font-family: 'Tomorrow', sans-serif;
	text-align: center;
	text-shadow: 1px 1px #383838;
}

.profile-text-container{
	margin: 10px auto;
	padding: 10px;
	width: 80vw;
	background-color: rgba(56, 56, 56, 0.87);
	border-radius: 5px;
}

.profile-text, .experience-text{
	margin: 20px;
	color: white;
	font-family: 'Tomorrow', sans-serif;
	text-align: center;
}

#projects-section{
	height: 100vh;
	padding: 70px;
	background: 
		linear-gradient(
		rgba(0, 255, 222, 0.45),
		rgba(0, 88, 255, 0.45)),
		url(../images/profile_background2.jpg);
	background-size: cover;
	display:none;
}

.section-header{
	color:white;
	font-size: 50px;
	font-family: 'Tomorrow', sans-serif;
	text-shadow: 1px 1px #383838;
	text-align: center;
}

.section-hr{
	margin: 10px auto;
	height: 2px;
	width: 250px;
	border: none;
	background-color: #FFB42A;

}

.text-hr{
	margin: 10px auto;
	height: 2px;
	width: 70%;
	border: none;
	background-color: #FFB42A;
}

.project-thumbnail {
	margin: 20px;
	/*display: flex;*/
	/*justify-content: left;*/
	/*align-items: center;*/
}

.project-thumbnail-img {
	margin: 10px;
	width: 250px;
	height: 150px;
	border-radius: 5px;
}

.project-thumbnail-img:hover{
	filter: grayscale(100%);
	transition: 0.5s;
}

.section-subheader{
	color:white;
	font-family: 'Tomorrow', sans-serif;
	text-shadow: 1px 1px #383838;
	text-align: center;
}

#skills-section{
	height: 100vh;
	padding-top: 70px;
	background: 
		linear-gradient(
		rgba(0, 255, 222, 0.45),
		rgba(0, 88, 255, 0.45)),
		url(../images/profile_background2.jpg);
	background-size: cover;
	/*background-color: #595959;*/
	display:none;
}

.skills-thumbnail{
	margin: 10px;
	height: 150px;
	width: 150px;
	border-radius: 100px;
	box-shadow: 1px 1px #383838;
}

#education-section{
	height: 100vh;
	padding-top: 70px;
	background: 
		linear-gradient(
		rgba(0, 255, 222, 0.45),
		rgba(0, 88, 255, 0.45)),
		url(../images/profile_background2.jpg);
	background-size: cover;
	/*background-color: #595959;*/
	display:none;
}

.education-text-container{
	margin: 10px auto;
	padding: 10px;
	width: 50vw;
	background-color: rgba(56, 56, 56, 0.87);
	border-radius: 5px;
}

.subheader-container{
	margin: 15px;
}

#experience-section{
	height: 100vh;
	padding-top: 70px;
	background: 
		linear-gradient(
		rgba(0, 255, 222, 0.45),
		rgba(0, 88, 255, 0.45)),
		url(../images/profile_background2.jpg);
	background-size: cover;
	/*background-color: #595959;*/
	display:none;
}

.experience-text-container{
	margin: 10px auto;
	padding: 10px;
	width: 70vw;
	background-color: rgba(56, 56, 56, 0.87);
	border-radius: 5px;
}

footer{
	height: 30px;
	width: 100%;
	background-color: #383838;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0px;
}

.footer-text{
	margin: 0px 20px;
	color:white;
	font-family: 'Tomorrow', sans-serif;
}

.social-media-link{
	margin: 0px 2.5px;
	color:white;
	font-size: 20px;
	text-decoration: none;
}

.social-media-link:hover{
	color: #FFB42A;
	transition: 0.5s;
}